*{
    padding: 00px;
    margin: 00px;
}
.main_cont{
    width: 100%;
    height: 100vh;
    background-color: rgb(179, 233, 168);
    display: flex;
}
.center_cont{
    width: 50%;
    height: 50%;
    background-color: rgba(12, 247, 24,0.8);
    margin: auto auto;
    box-shadow:5px 5px 5px 5px rgba(66, 65, 65, .6);
    overflow-y: scroll;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: 600;
}
.btn-cont{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: transparent;
    margin-bottom: 30px;
}
button{
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid white;
    background-color: transparent;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
button:hover{
    background-color: white;
    color: rgba(12, 247, 24,0.8);
}